table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

thead {
  background-color: #f1f1f1;
}

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  font-size: 16px;
}

@media only screen and (max-width: 600px) {
  th,
  td {
    padding: 8px;
    font-size: 14px;
  }
}

th:first-child,
td:first-child {
  padding-left: 20px;
}

@media only screen and (max-width: 600px) {
  th:first-child,
  td:first-child {
    padding-left: 12px;
  }
}

th:last-child,
td:last-child {
  padding-right: 20px;
}

@media only screen and (max-width: 600px) {
  th:last-child,
  td:last-child {
    padding-right: 12px;
  }
}

tbody tr:hover {
  background-color: #f5f5f5;
}

tbody td:first-child {
  padding-left: 20px;
}

tbody td:last-child {
  padding-right: 20px;
}

.button {
 
  margin-right: 8px !important;
  padding: 8px 16px !important;
 
}

button:hover {
  background-color: #0059b3;
}

select {
  padding: 8px 20px;
  background-color: white;
  border: 1px solid #ddd;

  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

input[type="text"] {
  padding: 8px 16px;

  border: none;
  border-radius: 4px;
  font-size: 16px;

  background-color: white;
  border: 1px solid #ddd;
}

thead th {
  background-color: white;
}

/* buttons */

/* .css-154xyx0-MuiInputBase-root-MuiOutlinedInput-root {
  background-color: #0077ff;
} */

.css-78trlr-MuiButtonBase-root-MuiIconButton-root {
  color: white !important;
}

.css-wb57ya-MuiFormControl-root-MuiTextField-root {
  width: 20% !important;
  margin-right: 16px !important;
}

button.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-sizeMedium.css-78trlr-MuiButtonBase-root-MuiIconButton-root {
  color: black !important;
}

.css-154xyx0-MuiInputBase-root-MuiOutlinedInput-root {
  padding-right: 0 !important;
}

.css-segi59 {
  width: fit-content !important;
  padding-right: 0 !important;
}
.css-feqhe6 {
  width: unset !important;
  padding-right: 16px !important;
}
@media (max-width: 768px) {
  /* styles for screens smaller than 768px */
  [data-testid="some-element"] {
    display: block;
  }
}

@media (min-width: 768px) {
  /* styles for screens larger than or equal to 768px */
  [data-testid="some-element"] {
    display: flex;
    align-items: center;
  }
}
